{% load static %}
{% load crispy_forms_tags %}

<script src="{% static 'js/sign_up.js' %}"></script>

<title>Sign_up</title>
<div class="signin_box">
    <div>
        <h1>Get Started</h1>
        <hr>
        <div>
            <form id="signup-form" onsubmit="submitSignupForm(event)">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input type="text" name="username" id="id_username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input type="email" name="email" id="id_email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="id_password1">Password</label>
                    <input type="password" name="password1" id="id_password1" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="id_password2">Confirm Password</label>
                    <input type="password" name="password2" id="id_password2" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
            </form>
        </div>
    </div>
</div>