{% load static %}
{% load crispy_forms_tags %}

<script src="{% static 'js/sign_up.js' %}"></script>

<div class="signin_box">
    <div>
        <h1>Get Started</h1>
        <hr>
        <div>
            <form id="signup-form" onsubmit="submitSignupForm(event)">
                <div class="signin_form_inputs">
                    {% csrf_token %}
                    {{ form | crispy }}
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
